body {
  margin: 3rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6E9EF;

}

@font-face {
  font-family: 'coders-gotta-code';
  src: local('coders-gotta-code'), url(./assets/fonts/Coders-gotta-code.ttf) format('ttf');
}

code {
  font-family: 'coders-gotta-code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    letter-spacing: 3px;
}
